@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: url(https://img.freepik.com/free-photo/blue-smooth-wall-textured-background_53876-106133.jpg?t=st=1723666872~exp=1723670472~hmac=07c050080877ffa525a15221c47ef8a02986bfcd1e69ff5428ad7360719645ee&w=826);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


